{{> header }}
<link type="text/css" rel="stylesheet" href="/css/main_page.css">

<div class="main_content container">

    <h1 class="welcome_message">Welcome to my weather app</h1>

    <form method="get" action="/search">
        <input type="text" name="location" class="location_box" placeholder="e.g city,address">
        <button class="btn btn-primary btn-sm">Get Weather</button>
    </form>
</div>

{{> footer }}