<h1>Welcome to my weather app</h1>

<form method="get" action="/search">
    <input type="text" name="location" placeholder="e.g city, postal code, address">
    <input type="submit">
</form>

<p>{{location}}</p>