.main_container{
    height:100%;
    background-color:rgba(211,211,211,0.6);
    padding: 0 2% 3% 2%;
    margin-top:3%;
}

.board{
    text-align: center;
    margin-top:3%;
    font-size:20px;
    font-weight: bold;
}

#location_header{
    font-size:28px;
    font-weight: bolder;
}

.forecast_view {
    border: 1px solid black;
    padding:3% 0 5% 0;
    height: 350px;

}

.day{
    font-size: 2em;
}

.forecast_content{
    padding:11% 0;
}

.current{
    border-width: 2px;
}

.img_back{
    background-size: cover;
}

.center{
    line-height: 50px;
}